* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background: url(./img/Desktop\ -\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: Poppins ;
    src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: PopMedium ;
    src: url(./fonts/Poppins-SemiBold.ttf);
}

h1 {
    font-family: Poppins;
    font-size: 1.6rem;
    color: #64113F;
}
h3 {
    font-family: Poppins;
    font-size: 1rem;
}
p {
    font-family: Poppins;
    font-size: 0.8rem;
}

.hero {
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr 3fr 1.5fr;
    padding: 0rem 3rem;
}

/* .nav {
    padding: 1rem;
    background: #DE4D89;
}

.extra-section {
    background: #DE4D89;
} */

.about-section {
    padding: 1rem;
}

.extra-section {
    padding: 1rem 1rem 1rem 1rem;
}

/* NAVIGATION BAR STYLING STARTS HERE-------------------------------------------------------------------*/
.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav .logo {
    margin-bottom: 1rem;
}

.nav .btn {
    padding: 0.5rem 1rem;
    border: 1px solid #dddddd ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #64113F;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: 0.5s ease;
}

.nav .btn:hover {
    transform: scale(1.05);
    background: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.nav .active:hover {
    background: #64113F;
    color: white;
}

.nav .logo img {
    display: inline;
    height: 5rem;
    width: 5rem;
}

.nav .logo h1 {
    display: inline;
    text-align: center;
}

.nav .active {
    background: #64113F;
    color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    letter-spacing: 0.1rem;
}

/* CARD 1 STYLING STARTS HERE---------------------------------------------------------------*/
.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-section .card {
    padding: 2rem;
    /* border: 1px solid #dddddd; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-section .card img {
    height: 15rem;
    width: 15rem;
} 

.about-section .card h3 {
    color: #64113F;
    margin-top: 1rem;
    letter-spacing: 0.1rem;
    font-family: PopMedium;
}

.about-section .card p {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 1rem;
    padding: 0rem 3rem;
    color: #DE4D89;
}

/*EXTRA SECTION STYLING STARTS HERE------------------------------------------------*/
.extra-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.extra-section .testimonials {
    display: flex;
    flex-direction: column;
    border: 1px solid #dddddd;
    padding: 2rem 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    transition: 0.5s ease;
}

.extra-section .testimonials h3, p{
    display: block;
}

.extra-section .testimonials p {
    margin-top: 1rem;
    color: #DE4D89;
    text-align: center;
}

.extra-section .testimonials h3 {
    color: #64113F;
}

.extra-section .pie-of-the-month {
    display: flex;
    flex-direction: column;
    border: 1px solid #dddddd;
    padding: 2rem 1rem;
    border-radius: 0.3rem;
    transition: 0.5s ease;
}

.extra-section .pie-of-the-month h3 {
    display: block;
    margin-bottom: 1rem;
    text-align: center;
    color: #64113F;
}

.extra-section .pie-of-the-month p {
    opacity: 0;
    position: absolute;
}

.extra-section .testimonials:hover {
    background:#ff4500;
    transform: scale(1.05);
    border: none;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), 10px 10px 50px rgba(0, 0, 0, 0.2);
}

.extra-section .pie-of-the-month:hover {
    background:#ff4500;
    transform: scale(1.05);
    border: none;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), 10px 10px 50px rgba(0, 0, 0, 0.2);
}

.extra-section .testimonials:hover  p {
    color: white;
}

.extra-section .pie-of-the-month:hover  h3 {
    color: white;
}

.extra-section .testimonials:hover  h3 {
    color: white;
}


/* FOOTER STYLING STARTS HERE----------------------------------------------------*/
footer {
    height: 25vh;
    background: #F7CACD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #64113F;
    margin-top: 5rem;
}

.social-links {
    margin-top: 2rem;
}.social-links img {
    margin-right: 1.5rem;
}

@media only screen and (max-width: 900px) {
    .hero {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 2fr 1fr;
    }

    .nav {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .about-section {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .extra-section {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }

    .extra-section .testimonials {
        width: 40%;
        height: 80%;
        
    }

    .extra-section .pie-of-the-month {
        width: 40%;
        height: 80%;
    }
}

@media only screen and (max-width: 450px) {
    .hero .nav .logo img{
        height: 50px;
        width: 50px;
    }

    .hero .nav .logo {
        padding: 2rem 2rem 0rem 2rem;
    }

    .hero {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .about-section .one p {
        padding: 0rem 1rem;
    }

    .extra-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
    }

    .extra-section .testimonials, .pie-of-the-month {
        width: 80%;
        height: max-content;
    }

    .extra-section .pie-of-the-month {
        width: 80%;
        height: max-content;
        margin-top: 2rem;
    }

    .nav .btn {
        position: absolute;
        opacity: 0;
    }

    footer {
        padding: 2rem ;
        text-align: center;
    }
    
}